<div style="width: 300px; display: inline-block;">
  <form action="/answer">
    <label for="question" class="form-control-label">Speak to your coach</label>
    <div class="form-group"><input type="text" class="form-control" id="question" name="query" placeholder="what time is it?"></div>
    <input type="submit" value="Go on!" class="btn btn-default">
  </form>
</div>