// Place all the styles related to the coaching_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.answer {

  border-left: 2px solid lightgray;
  padding: 10px;
  margin-bottom: 15px;


}

.answer div {
  color: gray;
}